
h2{
    text-align: center;
    background-color: black;
    color: white;
}



.pizza {
    text-align: center;
    background-color: black; 
}



.text h1, p{
    text-align: center;
}
/*
.text{
    margin-right: 350px;
    margin-left: 350px;
*/
.pics{
    float: left;

}

.pics img{
    height: 250px;
    padding: 30px;
}

    