body{
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lobster', cursive;
    
}


nav {
    padding: 2% 1%;
    width:  98%;  
}

h1{
    font-size: 25px;
    
}

ul {
    float: right;
}
nav li {
    display: inline-block;
}

nav a {
    
    color: #2f2f2f;
    text-decoration: none;
    margin-left: 5px;
    font-size: .75em;
}

.clearfix:after { 
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

main {
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    text-align: center;
    color: white;   
}

main > div {
    background-color: rgba(0,0,0, 0.6);
    padding: 200px 0;
    
    
}

.two_boxes {
    width: 100%;
    height: 600px;
}

.two_boxes div {
    float: left;
}
.two_boxes div:first-child {
    width: 60%;
    text-align:center;
    
}

.two_boxes div:nth-child(2) {
    width: 40%;
    
}

.two_boxes img {
    width: 70%;
    margin-left: 15%;
}


    

.three {
    text-align: center;
    color: white;
    background-image: url(../img/wine13.jpg);
    height: 300px;
   
}
.three > div{
    background-color: rgba(0,0,0, 0.6);
    background-size: cover;
    height: 300px;
}

.wine > div {
    text-align: center;
    float: left;
    width: 400px;
    
    
        
}
.wine img{
    height: 300px
}


    
