main{
    
    background-image: url(../img/bg.jpg);
    background-size: cover;
    width: 100%;
    padding: 20%;
}

h1{
    color: white;
    text-align: left;
    
}
main p{
    color: white;
    font-size: .75rem;
    
    
}

section{
    background-color: #f1f1f1;
}

section div{
    
    width: 30%;
    padding: 10%;
    float: left;
}
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
@media screen and (max-width: 700px){
    section div{
        width: 80%;
    }
    main{
        background-image: url(../img/bg2.jpg);
    }
}